/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@import "global.css";

footer {
  margin: 24px;
}

footer > p {
  font-size: 16px;
  font-weight: 300;
  color: var(--darkGray);
}

.footer-link {
  color: var(--green);
  font-weight: 300;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.footer-link:hover {
  -webkit-filter: brightness(0.5);
          filter: brightness(0.5);
}