/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@import "global.css";

/* main */

.photo-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 80vh;
  margin-bottom: 2rem;
}

.gallery-picture {
  display: block;
  width: 100%;
  height: 100%;
  margin: 10px;
}

.gallery-picture > img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.gallery-picture:hover > img {
  -webkit-filter: brightness(0.5);
          filter: brightness(0.5);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.picture-text-wrapper {
  position: relative;
  top: 50%;
  z-index: 1;
}

.picture-text {
  position: absolute;
  top: 80%;
  left: 50%;
  text-align: center;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.picture-text > h2 {
  color: var(--white);
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 16px;
}

.picture-text > a {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid transparent;
  color: var(--white);
  border-color: var(--white);
  cursor: pointer;
  border-width: 2px;
  font-size: 11px;
  letter-spacing: 0.1em;
  padding: 8px 24px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.picture-text > a:hover {
  color: var(--black);
  background-color: var(--white);
}

@media screen and (max-width: 1024px) {
  .gallery-picture:nth-child(2) {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .gallery-picture:not(:first-child) {
    display: none;
  }
}

/* end of main */