/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@import "global.css";

#title {
  font-size: 64px;
  line-height: 76px;
  font-weight: 500;
  color: var(--black);
  width: 50%;
  margin: auto;
  margin-top: 80px;
  text-align: center;
}

#underline {
  width: 8%;
  border-bottom: 1px solid var(--black);
  margin: auto;
}

.services-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90%;
  margin: auto;
  margin-top: 26px;
  margin-bottom: 160px;
}

.service {
  background-color: var(--darkWhite);
  padding: 1rem;
  min-height: 40%;
  text-align: center;
  font-weight: 300;
  font-size: 1rem;
  margin-bottom: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border: 3px solid var(--darkWhite);
}

@media screen and (max-width: 1024px) {
  .service {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
}

.service:hover {
  -webkit-filter: brightness(0.9);
          filter: brightness(0.9);
  border: 3px solid var(--green);
}

.service > i {
  color: var(--green);
  font-size: 72px;
  margin-bottom: 24px;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}

.service > h2 {
  font-size: 1.5rem;
  color: var(--black);
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.service > p {
  color: var(--darkGray);
  font-weight: 300;
  font-size: 16px;
  width: 50%;
}

.service-price {
  color: var(--green) !important;
  font-weight: 700 !important;
  margin-top: 26px !important;
}